
<div class="col-md-3 column">

	<div class="panel-group" id="accordion" ng-controller="navCtrl" ng-init="init();">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion"
						data-target="#collapse-0" href="javascript:void(0);"> 个人设置 </a>
				</h4>
			</div>
			<div id="collapse-0" class="panel-collapse collapse in">
				<div class="panel-body">
					<ul class="list-unstyled">
						<li ng-click="go('maincontent.user-detail');"><a href="">个人详细信息</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion"
						data-target="#collapse-1" href="javascript:void(0);"> 视频管理 </a>
				</h4>
			</div>
			<div id="collapse-1" class="panel-collapse collapse">
				<div class="panel-body">
					<ul class="list-unstyled">
						<li ng-click="go('maincontent.video-manager');"><a href="">视频管理</a></li>
						<li ng-click="go('maincontent.video-upload');"><a href="">上传视频</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="col-md-9 column" ui-view="">
	
</div>


