
<!--
	作者：offline
	时间：2017-05-08
	描述：个人信息
-->
<div class="row clearfix" ng-init="loadDetail();">
	<div class="col-md-6 column">

		<!--
         	作者：offline
         	时间：2017-05-08
         	描述：信息表格
         -->

		<table class="table table-hover ">
			<tbody>
				<tr>
					<td><label> 昵称： </label></td>
					<td><span>AA</span></td>

				</tr>
				<tr>
					<td><label> 电话： </label></td>
					<td><span>157*****679</span></td>

				</tr>

			</tbody>
		</table>

	</div>
	<div class="col-md-6 column">
		<!--
        	作者：offline
        	时间：2017-05-08
        	描述：头像
        -->
		<div>
			<div>
				<img src="" width="40px;" height="40px;" alt="头像" />
			</div>
			<button class="btn btn-default">上传头像</button>
		</div>

	</div>

</div>
