.ov{
	overflow:hidden;
	position: relative;
	height:500px;
}
.bg{
	position: fixed;
	left: 0px;
    top: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    z-index: -999999;
    width:100%;
    height:100%;	
}
.slide ,.slide2{
	position: absolute; 
	top:30%;
}
.footer{
	position:fixed; 
	left:0;
	bottom:0;	
}
.slide.ng-enter { transition:.15s linear all; }

.slide.ng-leave {
  transition:.15s linear all; 
}

.slide2.ng-enter { transition:.15s linear all; }

.slide2.ng-leave {
  transition:.15s linear all; 
}

.header{
	background-color:#194664;
}
.panel a{
	text-decoration:none;
	display:inline-block;
	width:167px;
	height:38px;
	line-height:38px;
}
.panel-heading,.panel-body{
	padding:0 0 0 15px;	
}
 
